<!DOCTYPE html>
<html ng-app="store">
<head>
<link rel="stylesheet" type="text/css"
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-controller="StoreController as store">

<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<div ng-repeat="item in store.product">

<h1> {{item.name}} </h1>
<img ng-src="{{item.images}}" image-resize image-percent="50"/>
<h2> {{item.price | currency}} </h2>
<p> {{item.description}} </p>
<button ng-show="item.canPurchase">
Add to Cart</button>

<ul class="nav nav-pills">
<li ng-class="{ active: tab === 1 }">
<a href ng-click=" tab = 1 " >Description</a>
</li>
<li ng-class="{ active: tab === 2 }">
<a href ng-click=" tab = 2 " >Specifications</a>
</li>
<li ng-class="{ active: tab === 3 }">
<a href ng-click=" tab = 3 " >Reviews</a>
</li>
</ul>

</div>




</body>
</html>